################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/KHN/.vs
/backend/KHN/KHN.API/bin/Debug/net8.0
/backend/KHN/KHN.API/obj
/frontend/khn-app/.vscode
